* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  text-align: center;
  margin-bottom: 2rem;
}

.logo img {
  width: 200px;
}

.form {
  background-color: #555;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-group input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  background-color: #ccc;
}

.duration-input {
  display: flex;
}

.duration-input input {
  width: 25%;
  margin-right: 0.5rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  width: 48%;
}

.message {
  margin-top: 2rem;
  text-align: center;
}

#message {
  font-size: 1.2rem;
}

.connect-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.connect-button button {
  background-color: #ccc;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
